* {
    outline: none;
}

.requiredField {
    color: #ff0000;
}

.tag {
    background-color: #bee1ff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

.comments {
    display: none;
    width: 80%;

}

.bold {
    font-weight: bold;
}

.comments {
    cursor: pointer;
}

.logo {
    float: left;
}

.upVoteContainer {
    float: right;
}

.postComment textarea {
    width: 80%;
    height: 150px;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.post, .commentsContainer {
    width: 80%;
    margin: auto;
}



