@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 16px;
}

.centered {
	text-align: center;
}

a {
	color: #FFAB69;
}

a:hover,
a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 10px;
	padding-top: 10px;
}

.navbar-inverse {
	background-color: #FFAB69;
	border-color: #FF811E;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
	background-color: #FFAB69;
}

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 25px;
	padding-bottom: 25px;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 25px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}
