* {
    outline: none;
}

.requiredField {
    color: #ff0000;
}

.tag {
    background-color: #bee1ff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

.comments {
    display: none;
    width: 80%;

}

.bold {
    font-weight: bold;
}

.commentsHeading {
    cursor: pointer;
}

.logo {
    float: left;
}

.upVoteContainer {
    float: right;
}

.postComment textarea {
    width: 100%;
    height: 85px;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.post, .commentsContainer {
    width: 70%;
    margin: auto;
}

.likeThisPost {
    color: blue;
    text-decoration: underline;
    cursor: pointer;

}

.upVoteContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


