.requiredField {
    color: #ff0000;
}

.tag {
    background-color: #bee1ff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

.comments {
    display: none;
}

.bold {
    font-weight: bold;
}




